@use './vars';

@mixin link ($colourMap) {
    text-decoration: none;
    &:link { color: map-get($colourMap, 'link') }
    &:hover { color: map-get($colourMap, 'hover') }
    &:active { color: map-get($colourMap, 'active') }
    &:visited { color: map-get($colourMap, 'visited') }
    color: map-get($colourMap, 'link');

    span {
        border-bottom: 1px solid map-get($colourMap, 'underline');
    }
}

// Selector for looking after
// content displayed on the right hand side
$contentVPos: map-get(vars.$content, 'left');
$contentHPos: map-get(vars.$content, 'top');
@mixin content() {
    padding-left: map-get($contentVPos, 'small');
    @media (min-width: 700px){
        position: absolute;
        left: map-get($contentVPos, 'large');
        right: 0;
        padding-top: map-get($contentHPos, 'large');
        padding-left: 0;
    }
}

// Mixin for looking after left hand navigation
$navigationVPos: map-get(vars.$navigation, 'left');
$navigationHPos: map-get(vars.$navigation, 'top');
@mixin navigation() {
    position: absolute;
    left: map-get($navigationVPos, 'small');
    top: map-get($navigationHPos, 'small');
    display: flex;
    flex-direction: column;

    @media (min-width: 700px){
        position: fixed;
    }

    a {
        @include link(vars.$navLinkColourMap);
        margin-bottom: 8px;
    }
}